@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ion-fade-in {
    animation-name: fadeIn;
    animation-duration: 175ms;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
