.ion-base {
    color: font.color;
    font-family: font.font;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
    }

    p {
        line-height: 1.5em;
    }
}
