.ion-grid {
	@extend .ion-section;
	display: flex;

	for num in (1...17) {
		.ion-col-{num} {
			flex: num;
		}
	}
}

[class*='ion-col-'] {
  margin-right: $main-padding * 2;
}

[class*='ion-col-']:last-of-type {
  margin-right: 0;
}

.ion-container {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	max-width: container.width;
	padding-left: $main-padding;
	padding-right: $main-padding;
}

/* For small screen sizes */
@media (max-width: container.width-sm) {
	.ion-grid {
		flex-direction: column;
	}

	.ion-container {
		width: 100%;
	}

	[class*='ion-col-'] {
	  margin-right: 0;
	}
}
