/*
 * kernel.css utility classes.
*/

.ion-anchor {
	color: util.anchor-color;
	text-decoration: none;
}

.ion-circle {
	border-radius: 50%;
}

.ion-hr {
	background-color: util.hr-bg;
	border: 0;
	border-radius: 50px;
	height: 1px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.ion-section {
	margin: $main-padding 0;
}

.ion-noshadow {
	box-shadow: none;
	text-shadow: none;
}

.ion-center {
	margin: auto;
}
