/*
 * kernel.css utility classes.
*/

.ion-anchor {
	color: util.anchor-color;
	text-decoration: none;
	overflow-wrap: break-word;
}

.ion-circle {
	border-radius: 50%;
}

.ion-hr {
	background-color: util.hr-bg;
	border: 0;
	border-radius: 50px;
	height: 1px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.ion-section {
	margin: $main-padding 0;
}

.ion-noshadow {
	box-shadow: none;
	text-shadow: none;
}

.ion-center {
	margin: auto;
}

.ion-vertical-center {
	position: relative;
	text-align: center;
	transform: translateY(-50%);
	top: 50%;
}

.ion-fixed-top {
	position: fixed;
	top: 0;
}

.ion-fixed-bottom {
	position: fixed;
	bottom: 0;
}

.ion-ul, .ion-ol {
	line-height: 1.8;
}

.ion-autowrap {
	overflow-wrap: break-word;
}
