.ion-footer {
	height: 200px;
	text-align: center;

	.ion-nav {
		ul {
			li {
				a {
					color: footer.link-color;
					font-size: 1.1em;
					margin-bottom: 15px;
					padding: 15px;
				}
			}
		}
	}
}

.ion-footer-header {
	background: footer.header-bg;
	color: footer.header-color;
	font-size: 1.6em;
	line-height: 200px;
}
