.ion-hero {
    background: linear-gradient(to right, #fafafa, #eeeeee);
    height: 500px;

    .ion-container {
        position: relative;
        text-align: center;
        transform: translateY(-50%);
        top: 50%;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    .ion-hero-header {
        color: #424242;
        font-size: 4.5em;
        font-weight: normal;
        margin: 0;
     }

    .ion-hero-paragraph {
         color: #424242;
         font-size: 1.6em;
     }
}
