.ion-message {
  background-color: message.bg;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  height: 250px;
  left: 0;
  padding: 15px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 999;

  header {
    margin-bottom: 15px;
  }
}
