.ion-notice {
    animation: fadein 0.5s;
    background-color: #eee;
	box-sizing: border-box;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	width: 100%;
	z-index: 999;

    &.ion-info {
        background-color rgb(90, 200, 250);
        color: #fafafa;

        strong {
            color: #fafafa;
        }
    }

    &.ion-alert {
        background-color: rgb(255, 59, 48);
        color: #fafafa;

        strong {
            color: #fafafa;
        }
    }

    &.ion-warning {
        background-color: rgb(255, 204, 0);
        color: #fafafa;

        strong {
            color: #fafafa;
        }
    }
}
