.ion-notice {
    animation: fadein 0.5s;
    background: notice.bg;
	box-sizing: border-box;
	min-height: 40px;
	line-height: 40px;
	padding: 0 15px;
	width: 100%;
	z-index: 999;

    &.ion-info {
        background: notice.info-bg;
        color: #fafafa;
    }

    &.ion-alert {
        background: notice.alert-bg;
        color: #fafafa;
    }

    &.ion-warning {
        background: notice.warning-bg;
        color: #fafafa;
    }
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
