.ion-input-text {
    background: input.bg;
    border: 1px solid #eee;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-family: inherit;
    margin: 15px 0 15px 0;
    max-width: 100%;
    padding: 8px;
    transition: border 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:focus {
        border: 1px solid #0091ea;
        outline: 0;
    }
}
