/* Website specific styles */

main {
    display: block;
    margin-bottom: 15px;
    min-height: 100vh;
}


/* Remove border added by code-prettify */

pre {
    border: 0 !important;
}

nav .github-icon {
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
}
