/* Website specific styles */

main {
    display: block;
    margin-bottom: 15px;
    min-height: 100vh;
}


/* Remove border added by code-prettify */

pre {
    border: 0 !important;
}

nav .github-icon {
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.ion-hero .hero-btn {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
