/* Website specific styles */

main {
    display: block;
    margin-bottom: 15px;
}

.header-hover {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Remove border added by code-prettify */

pre {
    border: 0 !important;
}

header {
    border-bottom: 1px solid #eee;
    position: fixed;
}

nav .github-icon {
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.hero {
    height: 600px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.hero h3 {
    font-weight: 300;
}

.hero .hero-btn {
    background-color: #fafafa;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.heading-font-label {
    background-color: #eee;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    padding: 5px;
}

.block-spacing {
    height: 50px;
}

.color {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.grid-example {
    margin: 15px 0;
}

.grid-example .grid-example-item {
    background: #eee;
    border-radius: 5px;
    margin-right: 20px;
}

.grid-example .grid-example-item[class*='ion-col-']:last-of-type {
    margin-right: 0;
}

.grid-example p {
    margin: 0;
    text-align: center;
}


/* For small screen sizes */

@media (max-width: 800px) {
    .block-spacing {
        margin-bottom: 0;
    }
    .grid-example {
        margin: 15px 0;
    }
    .grid-example .grid-example-item {
        margin: 10px 0;
    }
}

.ion-code-block .str { color: #27ae60; }
.ion-code-block .kwd { color: #2980b9; }
.ion-code-block .com { color: #c0392b; }
.ion-code-block .typ { color: #8e44ad; }
.ion-code-block .lit { color: #066; }
.ion-code-block .pun, .ion-code-block .opn, .ion-code-block .clo { color: #660; }
.ion-code-block .tag { color: #2980b9; }
.ion-code-block .atn { color: #606; }
.ion-code-block .atv { color: #080; }
.ion-code-block .dec, .ion-code-block .var { color: #606; }
.ion-code-block .fun { color: #800; }
.ion-code-block .pln { color: #2c3e50; }
