/* Website specific styles */

main {
    display: block;
    margin-bottom: 15px;
    min-height: 100vh;
}


/* Remove border added by code-prettify */

pre {
    border: 0 !important;
}

nav .github-icon {
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.ion-hero .hero-btn {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.heading-font-label {
    background-color: #eee;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    padding: 5px;
}

.block-margin {
    margin-bottom: 68px;
}
